{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hires list</h1>

    <table>
        <thead>
            <tr>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Status</th>
                <th>Cost</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hire in hires %}
            <tr>
                <td><a href="{{ path('hire_show', { 'id': hire.id }) }}">{{ hire.startDate }}</a></td>
                <td>{% if hire.endDate %}{{ hire.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ hire.status }}</td>
                <td>{{ hire.cost }}</td>
                <td>{{ hire.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hire_show', { 'id': hire.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('hire_edit', { 'id': hire.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hire_new') }}">Create a new hire</a>
        </li>
    </ul>
{% endblock %}
