{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hire</h1>

    <table>
        <tbody>
            <tr>
                <th>Startdate</th>
                <td>{% if hire.startDate %}{{ hire.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if hire.endDate %}{{ hire.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ hire.status }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ hire.cost }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ hire.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('hire_edit', { 'id': hire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
