{% block form %}
    <!--
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/utshotel/css/datepicker.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/utshotel/js/bootstrap-datepicker.js') }}"></script>
    -->


    {{ form_start(form) }}
        {% if(errors) %}
            <div class="row">
            {% for error in errors %}
                <div class="col-lg-12 alert alert-danger">
                    <p>
                        {{ error.message }}
                    </p>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="form-group col-lg-3{% if not form.car.vars.valid %} has-error{% endif %}">
                {{ form_label(form.car) }}
                {{ form_widget(form.car, {'attr':{'class':'form-control'}}) }}
            </div>

            <div class="form-group col-lg-3{% if not form.point.vars.valid %} has-error{% endif %}">
                {{ form_label(form.point) }}
                {{ form_widget(form.point, {'attr':{'class':'form-control'}}) }}
            </div>

            <div class="form-group col-lg-3{% if not form.customer.vars.valid %} has-error{% endif %}">
                {{ form_label(form.customer) }}
                {{ form_widget(form.customer, {'attr':{'class':'form-control'}}) }}
            </div>

            <div class="form-group col-lg-3{% if not form.worker.vars.valid %} has-error{% endif %}">
                {{ form_label(form.worker) }}
                {{ form_widget(form.worker, {'attr':{'class':'form-control'}}) }}
            </div>

            <div class="form-group col-lg-1">
                <button type="submit">Register!</button>
            </div>
        </div>
    {{ form_end(form) }}

   <!--
    <script type="text/javascript">
        $(document).ready(
                function(){
                    $('.datepicker').datepicker(
                            {
                                format:'dd.mm.yyyy',
                                onRender: function(date) {
                                    var now = new Date();
                                    return date.valueOf() < now.valueOf() ? 'disabled' : '';
                                }
                            }
                    );
                }
        );
    </script>-->
{% endblock %}