{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cars list</h1>

    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td><a href="{{ path('car_show', { 'id': car.id }) }}">{{ car.number }}</a></td>
                <td>{{ car.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('car_show', { 'id': car.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('car_edit', { 'id': car.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('car_new') }}">Create a new car</a>
        </li>
    </ul>
{% endblock %}
