{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rate</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rate.id }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ rate.cost }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rate_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rate_edit', { 'id': rate.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
